# Ignore Maven and Gradle directories
/target/
/.idea/
/.vscode/
/*.iml

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Java and Eclipse
.classpath
.project
.settings/

# Credentials (add any sensitive files here)
application.properties
